doctype html
html
  head
    title Podslim API
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #buscaofertas-216312
    script(type='text/javascript').
      var _bpbuscaoq = _bpbuscaoq || [];_bpbuscaoq.push({"placer_id":"buscaofertas-216312","width":"100%","sourceId":34536523});(function() {var bo = document.createElement("script");bo.type = "text/javascript";bo.async = true;bo.src = "//instant-ofertas.appspot.com/static/bo/min.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bo, s);})();

