doctype html
html
  head
    title Podslim API
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:inline-block;width:200px;height:90px', data-ad-client='ca-pub-9913379264344056', data-ad-slot='2853951491')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
