doctype html
html
  head
    title Podslim API
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9913379264344056', data-ad-slot='7423751896', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});